{"openapi":"3.0.0","info":{"contact":{"name":"Zoom Developers","url":"https://developer.zoom.us/"},"description":"The Zoom Phone API allows developers to access information from Zoom. You can use this API to build private services or public applications on the [Zoom App Marketplace](http://marketplace.zoom.us). To learn how to get your credentials and create private/public applications, read our [OAuth](https://marketplace.zoom.us/docs/guides/auth/oauth) documentation. All endpoints are available via `https` and are located at `api.zoom.us/v2/`.\n\nFor instance, you can list all users on an account via `https://api.zoom.us/v2/users/`.\n\n**Note**: You will get `403` response `Zoom Phone has not been enabled for this account` if the phone account is not set up.","termsOfService":"https://zoom.us/docs/en-us/zoom_api_license_and_tou.html","title":"Zoom Phone API","version":"2.0.0"},"servers":[{"url":"https://api.zoom.us/v2"}],"paths":{"/phone/audios/{audioId}":{"delete":{"parameters":[{"description":"Unique identifier of the audio item.","in":"path","name":"audioId","required":true,"schema":{"type":"string","example":"yCT14TwySDGVUypVlKNEyA"}}],"responses":{"204":{"description":"**HTTP Status Code:** `204` **No Content**\n\n\nSuccessfully deleted an audio item"},"400":{"description":"**HTTP Status Code:** `400` **Bad Request**\n\n**Error Code:** `300` **Validation Failed**\n"}},"tags":["Audio Library"],"description":"Deletes an audio item.\n\n**Prerequisites:**\n* Business, or Education account\n* Zoom Phone license \n\n**Scopes:** `phone:write`,`phone:write:admin`\n\n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `Light`","operationId":"DeleteAudioItem","summary":"Delete an audio item"},"get":{"parameters":[{"description":"Unique identifier of the audio item.","in":"path","name":"audioId","required":true,"schema":{"type":"string","example":"yCT14TwySDGVUypVlKNEyA"}}],"responses":{"200":{"content":{"application/json":{"schema":{"properties":{"audio_id":{"description":"Unique identifier of the audio item","type":"string","example":"yCT14TwySDGVUypVlKNEyA"},"name":{"description":"Name of the audio item","type":"string","example":"hello.mp3"},"play_url":{"description":"URL of the audio file (url is valid for 6 hours)","type":"string","example":"https://file.example.com/file?jwt=eyJhbGciOiJIUzI1NiJ9.eyJleHAiOjE2MzY3MjY0MDEsImlzcyI6ImNyb3NzZmlsZSIsImF1ZCI6ImZpbGUiLCJkaWciOiIzM2MyZGFhZjQ2ZDQ2MzFiNGJkMWUzZmRmYmI5OTBjOTUzNTEwZmE5ZDYxZjYyNDAyNGY5OWZiYmY5ZmZlMWU4In0.kPwNFT1C_twZHl3CTeyaiOLhxmJBcHb__SvDBmgGpiQ&mode=download&path=zoomfs%3A%2F%2Fpbx-voice%2F%2Fprompt%2FNNNiWOl7SSmO-qXFOSXPMA%2FhcAjVmo0SVmdSvW2Sm7VrA.mp3"}},"type":"object"}}},"description":"**HTTP Status Code:** `200` **OK**\n\nSuccessfully listed an audio item"}},"tags":["Audio Library"],"description":"Gets an audio item.\n\n**Prerequisites:**\n* Business or Education account\n* Zoom Phone license \n\n**Scopes:** `phone:read`,`phone:read:admin`\n\n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `Light`","operationId":"GetAudioItem","summary":"Get an audio item"},"patch":{"parameters":[{"description":"Unique identifier of the audio item.","in":"path","name":"audioId","required":true,"schema":{"type":"string","example":"yCT14TwySDGVUypVlKNEyA"}}],"responses":{"204":{"description":"**HTTP Status Code:** `204` **No Content**\n\n\nSuccessfully updated an audio item"},"400":{"description":"**HTTP Status Code:** `400` **Bad Request**\n\n**Error Code:** `300` **Validation Failed**\n"}},"tags":["Audio Library"],"description":"Updates an audio item.\n\n**Prerequisites:**\n* Business or Education account\n* Zoom Phone license \n\n**Scopes:** `phone:write:admin`\n\n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `Light`","operationId":"UpdateAudioItem","requestBody":{"content":{"application/json":{"schema":{"properties":{"name":{"description":"The name of the audio item.","type":"string","example":"hello.mp3"}},"required":["name"],"type":"object"}}}},"summary":"Update an audio item"}},"/phone/auto_receptionists":{"get":{"parameters":[{"description":"The total number of records returned from a single API call.","in":"query","name":"page_size","schema":{"default":30,"maximum":100,"type":"integer","example":30}},{"description":"The next page token paginates through a large set of results. A next page token is returned whenever the set of available results exceeds the current page size. The expiration period for this token is 15 minutes.","in":"query","name":"next_page_token","schema":{"type":"string","example":"BJLYC6PABbAHdjwSkGVQeeR6B1juwHqj3G2"}}],"responses":{"200":{"content":{"application/json":{"schema":{"properties":{"auto_receptionists":{"items":{"properties":{"cost_center":{"description":"`nullable` Cost center name.","type":"string","example":"testCostCenter"},"department":{"description":"`nullable` Department name.","type":"string","example":"testDepartment"},"extension_id":{"description":"Extension ID","type":"string","example":"WfsrPERXS8inWrpH1Hi_KQ"},"extension_number":{"description":"Extension number of the auto receptionist.","type":"integer","format":"int64","example":555550000000001},"id":{"description":"The unique identifier of the auto receptionist.","type":"string","example":"nqerMCD0Tu6RPGoCpVbPtA"},"name":{"description":"Name of the auto receptionist.","type":"string","example":"JamieAuto"},"timezone":{"description":"[Timezone](https://marketplace.zoom.us/docs/api-reference/other-references/abbreviation-lists#timezones) of the Auto Receptionist.","type":"string","example":"Pacific/Midway"},"audio_prompt_language":{"description":"Audio prompt language.","type":"string","example":"en-US"},"holiday_hours":{"description":"The holiday hours.","items":{"properties":{"id":{"description":"The holiday ID.","type":"string","example":"i3gP6xFUTHqSFrIE6nHs7Q"},"name":{"description":"The name of the holiday.","type":"string","example":"Holiday 1"},"from":{"description":"The holiday start date and time in `yyyy-MM-dd'T'HH:mm:ss'Z'` format.","format":"date-time","type":"string","example":"2022-03-08T16:00:00Z"},"to":{"description":"The holiday end date and time, in `yyyy-MM-dd'T'HH:mm:ss'Z'` format.","format":"date-time","type":"string","example":"2022-03-09T16:00:00Z"}},"type":"object"},"type":"array"},"phone_numbers":{"items":{"properties":{"id":{"description":"Unique identifier of the phone number.","type":"string","example":"KsxwNLEhQ0SJ4U4Bor4ShA"},"number":{"description":"Phone number.","type":"string","example":"+12058945717"}},"type":"object"},"type":"array"},"site":{"properties":{"id":{"description":"Unique identifier of the [site](https://support.zoom.us/hc/en-us/articles/360020809672-Managing-Multiple-Sites) to which the common area desk phone is assigned.","type":"string","example":"O4rBC_zEQnCVoiHfXKGKNA"},"name":{"description":"Name of the site.","type":"string","example":"jamietestsite"}},"type":"object"}},"type":"object"},"type":"array"},"next_page_token":{"description":"The next page token is used to paginate through large result sets. A next page token will be returned whenever the set of available results exceeds the current page size. The expiration period for this token is 15 minutes.","type":"string","example":"uBTK3NzNksdkuCUAQaFVFd86kyOr59zg4U2"},"page_size":{"description":"Total number of records returned from a single API call.","type":"integer","example":30},"total_records":{"description":"Total number of records found for this query.","type":"integer","example":1}},"type":"object"}}},"description":"**HTTP Status Code:** `200` **OK**<br>\nList of [auto receptionists](https://support.zoom.us/hc/en-us/articles/360021121312-Managing-auto-receptionists) retrieved successfully."}},"security":[{"OAuth":[]}],"tags":["Auto Receptionists"],"description":"Use this API to list auto receptionists.\n\n**Prerequisites:**\n* Pro or a higher account with Zoom Phone license.\n* Account owner or admin permissions.\n\n**Scopes:** `phone:read:admin`\n\n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `Medium`","operationId":"listAutoReceptionists","summary":"List auto receptionists"},"post":{"responses":{"201":{"content":{"application/json":{"schema":{"properties":{"extension_number":{"description":" Extension number assigned to the auto receptionist.","type":"integer","format":"int64","example":555550000000001},"id":{"description":"Auto receptionist ID. The unique identifier of the auto receptionist.","type":"string","example":"nqerMCD0Tu6RPGoCpVbPtA"},"name":{"description":" Name of the auto receptionist.","type":"string","example":"JamieAuto"}},"type":"object"}}},"description":"**HTTP Status Code:** `201` **Created**\n\nAuto receptionist added successfully."},"400":{"description":"**HTTP Status Code:** `400` **Bad Request**<br>\n**Error Code:** `300` **Validation failed.**<br>\n* Multiple Site is disabled.<br>\n* Site does not exist.\n\n\n"}},"tags":["Auto Receptionists"],"description":"Auto receptionists answer calls with a personalized recording and routes calls to a phone user, call queue, common area phone, voicemail or an IVR system. Use this API to add an [auto receptionist](https://support.zoom.us/hc/en-us/articles/360021121312-Managing-Auto-Receptionists-and-Interactive-Voice-Response-IVR-) to a Zoom Phone\n\n**Prerequisites:**\n* Pro or higher account with Zoom Phone license.\n* Account owner or admin privileges \n\n**Scopes:** `phone:write:admin`\n\n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `Light`","operationId":"addAutoReceptionist","requestBody":{"content":{"application/json":{"schema":{"properties":{"name":{"description":"Provide a name to help identify the auto receptionist.","type":"string","example":"JamieAuto"},"site_id":{"description":"Unique identifier of the site where the auto receptionist is to be assigned. This field is required only if you have [multiple sites](https://support.zoom.us/hc/en-us/articles/360020809672-Managing-Multiple-Sites) enabled.","type":"string","example":"O4rBC_zEQnCVoiHfXKGKNA"}},"required":["name"],"type":"object"}}}},"summary":"Add an auto receptionist"}},"/phone/auto_receptionists/{autoReceptionistId}":{"get":{"parameters":[{"in":"path","name":"autoReceptionistId","required":true,"schema":{"type":"string","example":"nqerMCD0Tu6RPGoCpVbPtA"}}],"responses":{"200":{"content":{"application/json":{"schema":{"properties":{"cost_center":{"description":"`nullable` Cost center name.","type":"string","example":"testCostCenter"},"department":{"description":"`nullable` Department name.","type":"string","example":"testDepartment"},"extension_id":{"description":"Extension ID","type":"string","example":"WfsrPERXS8inWrpH1Hi_KQ"},"extension_number":{"description":"Extension number of the auto receptionist.","type":"integer","format":"int64","example":555550000000001},"name":{"description":"Name of the auto receptionist.","type":"string","example":"JamieAuto"},"timezone":{"description":"[Timezone](https://marketplace.zoom.us/docs/api-reference/other-references/abbreviation-lists#timezones) of the Auto Receptionist.","type":"string","example":"Pacific/Midway"},"audio_prompt_language":{"description":"Audio prompt language.","type":"string","example":"en-US"},"holiday_hours":{"description":"The holiday hours.","items":{"properties":{"id":{"description":"The holiday ID.","type":"string","example":"i3gP6xFUTHqSFrIE6nHs7Q"},"name":{"description":"The name of the holiday.","type":"string","example":"Holiday 1"},"from":{"description":"The holiday start date and time in `yyyy-MM-dd'T'HH:mm:ss'Z'` format.","format":"date-time","type":"string","example":"2022-03-08T16:00:00Z"},"to":{"description":"The holiday end date and time, in `yyyy-MM-dd'T'HH:mm:ss'Z'` format.","format":"date-time","type":"string","example":"2022-03-09T16:00:00Z"}},"type":"object"},"type":"array"},"phone_numbers":{"items":{"properties":{"id":{"description":"Unique identifier of the phone number.","type":"string","example":"KsxwNLEhQ0SJ4U4Bor4ShA"},"number":{"description":"Phone number.","type":"string","example":"+12058945717"}},"type":"object"},"type":"array"},"site":{"properties":{"id":{"description":"Unique identifier of the [site](https://support.zoom.us/hc/en-us/articles/360020809672-Managing-Multiple-Sites) to which the common area desk phone is assigned.","type":"string","example":"O4rBC_zEQnCVoiHfXKGKNA"},"name":{"description":"Name of the site.","type":"string","example":"jamietestsite"}},"type":"object"}},"type":"object"}}},"description":"**HTTP Status Code:** `200` **OK**<br>\nAuto receptionist detail successfully retrieved."}},"security":[{"OAuth":[]}],"tags":["Auto Receptionists"],"description":"Use this API to get information on a specific auto receptionist.\n\n**Prerequisites:**\n* Pro or a higher account with Zoom Phone license.\n* Account owner or admin permissions.\n\n**Scopes:** `phone:read:admin`\n\n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `Medium`","operationId":"getAutoReceptionistDetail","summary":"Get an auto receptionist"},"patch":{"parameters":[{"description":"The unique identifier of the auto receptionist. It can be retrieved from the [List auto receptionists API](https://marketplace.zoom.us/docs/api-reference/phone/methods#operation/listAutoReceptionists).","in":"path","name":"autoReceptionistId","required":true,"schema":{"type":"string","example":"nqerMCD0Tu6RPGoCpVbPtA"}}],"responses":{"204":{"content":{"application/json":{"schema":{}}},"description":"**HTTP Status Code:** `204`<br> **No Content**<br>\nAuto Receptionist details updated sucessfully."},"400":{"description":"**HTTP Status Code:** `400` **Bad Request**<br><br>\n**Error Code:** `300`<br>\nExtension Number must be {min} to {max} digits<br>\nValidation Failed. AutoReceptionist does not exist, AutoReceptionistId: {autoReceptionistId}<br>\nAudio prompt language is invalid:{0}<br>\nTime zone is invalid:{0}<br>\n**Error Code:** `400`<br>\nInvalid short number length.<br>\nInvalid full extension number length.<br><br>\n**Error Code:** `10001`<br>\nNumber {extensionNumber} is a reserved extension number.<br>\nExtension number {extensionNumber} is already used.<br>\nLanguage setting is invalid.\n\n"}},"security":[{"OAuth":[]}],"tags":["Auto Receptionists"],"description":"An auto receptionist answers calls with a personalized recording and routes calls to a phone user, call queue, common area phone, or voicemail. An auto receptionist can also be set up so that it routes calls to an interactive voice response (IVR) system to allow callers to select the routing options.\nUse this API to [change information](https://support.zoom.us/hc/en-us/articles/360021121312-Managing-Auto-Receptionists-and-Interactive-Voice-Response-IVR-#h_1d5ffc56-6ba3-4ce5-9d86-4a1a1ee743f3) such as the display name and extension number assigned to the main auto receptionist.\n\n**Prerequisites:**\n* Pro or higher account with Zoom Phone license.\n\n**Scopes:** `phone:write:admin` \n\n **[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `Light`","operationId":"updateAutoReceptionist","requestBody":{"content":{"application/json":{"schema":{"properties":{"cost_center":{"description":"Cost center name","type":"string","example":"testCostCenter"},"department":{"description":"Department name.","type":"string","example":"testDepartment"},"extension_number":{"description":"Extension number to be assigned to the auto receptionist. If site code is enabled, provide the short extension number instead.","type":"integer","format":"int64","example":555550000000001},"name":{"description":"Display name of the auto receptionist.","maxLength":32,"type":"string","example":"JamieAuto"},"audio_prompt_language":{"description":"Audio prompt language.","type":"string","example":"en-US"},"timezone":{"description":"[Timezone](https://marketplace.zoom.us/docs/api-reference/other-references/abbreviation-lists#timezones) of the Auto Receptionist.","type":"string","example":"Pacific/Midway"}},"type":"object"}}}},"summary":"Update an auto receptionist"},"delete":{"parameters":[{"description":"The unique identifier of the auto receptionist. It can be retrieved from the [List auto receptionists API](https://marketplace.zoom.us/docs/api-reference/phone/methods#operation/listAutoReceptionists).","in":"path","name":"autoReceptionistId","required":true,"schema":{"type":"string","example":"nqerMCD0Tu6RPGoCpVbPtA"}}],"responses":{"204":{"content":{"application/json":{"schema":{}}},"description":"**HTTP Status Code:** `204`<br> **No Content**<br>\nAuto Receptionist deleted successfully."},"400":{"description":"**HTTP Status Code:** `400` **Bad Request**<br><br>\n**Error Code:** `400`<br>\nUnable to delete main Auto receptionist.<br><br>\n**Error Code:** `404`<br>AutoReceptionist does not exist: {autoReceptionistId}.\n\n\n"}},"security":[{"OAuth":[]}],"tags":["Auto Receptionists"],"description":"An auto receptionist answers calls with a personalized recording and routes calls to a phone user, call queue, common area (phone), or to a voicemail. An auto receptionist can also be set up so that it routes calls to an interactive voice response (IVR) system to allow callers to select the routing options.\nUse this API to [delete a non-primary auto receptionist](https://support.zoom.us/hc/en-us/articles/360021121312-Managing-Auto-Receptionists-and-Interactive-Voice-Response-IVR-#h_1d5ffc56-6ba3-4ce5-9d86-4a1a1ee743f3).\n\n**Prerequisites:**\n* Pro or higher account with Zoom Phone license.\n\n**Scopes:** `phone:write:admin` \n\n **[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `Light`","operationId":"deleteAutoReceptionist","summary":"Delete a non-primary auto receptionist"}},"/phone/auto_receptionists/{autoReceptionistId}/policies":{"patch":{"parameters":[{"description":"The unique identifier of the auto receptionist. It can be retrieved from the [List auto receptionists API](https://marketplace.zoom.us/docs/api-reference/phone/methods#operation/listAutoReceptionists).","in":"path","name":"autoReceptionistId","required":true,"schema":{"type":"string","example":"nqerMCD0Tu6RPGoCpVbPtA"}}],"responses":{"204":{"content":{"application/json":{"schema":{}}},"description":"**HTTP Status Code:** `204`<br> **No Content**<br>\nAuto receptionist policy updated successfully."},"400":{"description":"**HTTP Status Code:** `400` **Bad Request**\n\n**Error Code:** `300` **Validation Failed**<br>\n\nAuto Receptionist does not exist:{0}.<br>\n\nThe policy is locked at the site level:{0}.<br>\n\nThe policy is locked at the account level:{0}."}},"security":[{"OAuth":[]}],"tags":["Auto Receptionists"],"description":"Use this API to update the policy setting of a specific [auto receptionist](https://support.zoom.us/hc/en-us/articles/360021121312-Managing-Auto-Receptionists-and-Interactive-Voice-Response-IVR-). \n\n**Prerequisites:**\n* Pro or higher account plan with Zoom Phone License\n* Account owner or admin permissions\n\n**Scopes:** `phone:write:admin`\n\n **[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `Light`","operationId":"updateAutoReceptionistPolicy","requestBody":{"content":{"application/json":{"schema":{"properties":{"voicemail_transcription":{"properties":{"enable":{"description":"Whether to allow users to access transcriptions of voicemails from the Zoom client, the Zoom web portal and email notifications.","type":"boolean","example":true},"reset":{"description":"Whether the current settings will use the phone account's settings (applicable if the current settings are using the new policy framework).","type":"boolean","example":true}},"type":"object"},"voicemail_notification_by_email":{"description":"Once enabled, users will receive email notifications when there is a new voicemail from users, call queues, auto receptionists or shared line groups. Users who disabled the shared voicemail notification by email policy will not receive notifications. Only displayed when the voicemail policy is using the new policy framework.","properties":{"include_voicemail_file":{"description":"Whether to include the voicemail file.","type":"boolean","example":true},"include_voicemail_transcription":{"description":"Whether to include the voicemail transcription.","type":"boolean","example":false},"forward_voicemail_to_email":{"description":"Whether to forward the voicemail to email.","type":"boolean","example":true},"enable":{"type":"boolean","example":true},"reset":{"description":"Whether the current settings will use the phone account's settings (applicable if the current settings are using the new policy framework).","type":"boolean","example":true}},"type":"object"},"sms":{"properties":{"enable":{"description":"Whether to allow users, call queues and auto receptionists to send and receive messages. You will still need to assign a valid calling plan and phone number to each user in order for them to send and receive messages.","type":"boolean","example":true},"reset":{"description":"Whether the current settings will use the phone account's settings (applicable if the current settings are using the new policy framework).","type":"boolean","example":true},"international_sms":{"description":"Whether the user can send and receive international messages.","type":"boolean","example":true},"international_sms_countries":{"description":"The country which users can send and receive international messages. The [country ISO code](https://marketplace.zoom.us/docs/api-reference/other-references/abbreviation-lists#countries).","items":{"type":"string","example":"US"},"type":"array"}},"type":"object"}}}}}},"summary":"Update an auto receptionist policy"},"get":{"parameters":[{"description":"The unique identifier of the auto receptionist. It can be retrieved from the [List auto receptionists API](https://marketplace.zoom.us/docs/api-reference/phone/methods#operation/listAutoReceptionists).","in":"path","name":"autoReceptionistId","required":true,"schema":{"type":"string","example":"nqerMCD0Tu6RPGoCpVbPtA"}}],"responses":{"200":{"content":{"application/json":{"schema":{"properties":{"voicemail_access_members":{"description":"Shared voicemail access member list.","items":{"properties":{"shared_id":{"description":"Unique identifier of the shared voicemail that the user can access.","type":"string","example":"--e8ugg0SeS-9clgrDkn2w"},"access_user_id":{"description":"The Zoom user ID to share the voicemail access permissions with.","type":"string","example":"w0RChiauQeqRlv5fgxYULQ"},"delete":{"description":"Specifies whether the user has delete permissions. The default is **false**.","type":"boolean","example":false},"download":{"description":"Specifies whether the user has download permissions. The default is **false**.","type":"boolean","example":false}},"type":"object"},"type":"array","uniqueItems":true},"voicemail_transcription":{"properties":{"enable":{"description":"Whether to allow users to access transcriptions of voicemails from the Zoom client, the Zoom web portal and email notifications.","type":"boolean","example":true},"locked":{"description":"Whether the senior administrator allows users to modify the current settings.","type":"boolean","example":true},"locked_by":{"description":"Which level of administrator prohibits modifying the current settings.","enum":["invalid","account","site"],"type":"string","example":"site"},"modified":{"description":"Whether the current settings have been modified. If modified, they can be reset (displayed when using the new policy framework).","type":"boolean","example":true}},"type":"object"},"voicemail_notification_by_email":{"description":"Once enabled, users will receive email notifications when there is a new voicemail from users, call queues, auto receptionists or shared line groups. Users who disabled the shared voicemail notification by email policy will not receive notifications. Only displayed when the voicemail policy is using the new policy framework.","properties":{"include_voicemail_file":{"description":"Whether to include the voicemail file.","type":"boolean","example":true},"include_voicemail_transcription":{"description":"Whether to include the voicemail transcription.","type":"boolean","example":false},"forward_voicemail_to_email":{"description":"Whether to forward the voicemail to email.","type":"boolean","example":true},"enable":{"type":"boolean","example":true},"locked":{"description":"Whether the senior administrator allows users to modify the current settings.","type":"boolean","example":true},"locked_by":{"description":"Which level of administrator prohibits modifying the current settings.","enum":["invalid","account","site"],"type":"string","example":"site"},"modified":{"description":"Whether the current settings have been modified. If modified, they can be reset (displayed when using the new policy framework).","type":"boolean","example":true}},"type":"object"},"sms":{"properties":{"enable":{"description":"Whether to allow users, call queues and auto receptionists to send and receive messages. You will still need to assign a valid calling plan and phone number to each user in order for them to send and receive messages.","type":"boolean","example":true},"international_sms":{"description":"Whether the user can send and receive international messages.","type":"boolean","example":true},"international_sms_countries":{"description":"The country to which users can send and receive international messages. The [country ISO code](https://marketplace.zoom.us/docs/api-reference/other-references/abbreviation-lists#countries).","items":{"type":"string","example":"US"},"type":"array"},"locked":{"description":"Whether the senior administrator allows users to modify the current settings.","type":"boolean","example":true},"locked_by":{"description":"Which level of administrator prohibits modifying the current settings.","enum":["invalid","account","site"],"type":"string","example":"site"},"modified":{"description":"Whether the current settings have been modified. If modified, they can be reset (displayed when using the new policy framework).","type":"boolean","example":true}},"type":"object"}},"type":"object"}}},"description":"**HTTP Status Code:** `200` **OK**\n\nSuccessfully retrieved the auto receptionist policy."},"400":{"description":"**HTTP Status Code:** `400` **Bad Request**\n\n**Error Code:** `300` **Validation Failed**<br>\n\nAuto Receptionist does not exist:{0}."}},"tags":["Auto Receptionists"],"description":"Use this API to get the policy setting of a specific [auto receptionist](https://support.zoom.us/hc/en-us/articles/360021121312-Managing-Auto-Receptionists-and-Interactive-Voice-Response-IVR-).\n\n**Prerequisites:**\n* Pro or a higher account with Zoom Phone license.\n* Account owner or admin permissions.\n\n**Scopes:** `phone:read:admin`\n\n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `Medium`","operationId":"getAutoReceptionistsPolicy","summary":"Get an auto receptionist policy"}},"/phone/auto_receptionists/{autoReceptionistId}/policies/{policyType}":{"patch":{"parameters":[{"description":"The unique identifier of the auto receptionist. It can be retrieved from the [List auto receptionists API](https://marketplace.zoom.us/docs/api-reference/phone/methods#operation/listAutoReceptionists).","in":"path","name":"autoReceptionistId","required":true,"schema":{"type":"string","example":"nqerMCD0Tu6RPGoCpVbPtA"}},{"description":"Corresponds to the policy item you wish to modify. Allowed values: `voice_mail`","in":"path","name":"policyType","required":true,"schema":{"type":"string","example":"voice_mail"}}],"responses":{"204":{"content":{"application/json":{"schema":{}}},"description":"**HTTP Status Code:** `204`<br> **No Content**<br>\n Auto receptionist policy updated successfully."},"400":{"description":"**HTTP Status Code:** `400` **Bad Request**\n\n**Error Code:** `300` **Validation Failed**<br>\n\nAuto Receptionist does not exist:{0}.<br>\n\nThe shared voicemail  does not exist:{0}.<br>\n\nUser does not exist: {0}.<br>\n\nMissing either the `shared_id` or `access_user_id` field.<br>\n\nInvalid policy type:{0}."}},"security":[{"OAuth":[]}],"tags":["Auto Receptionists"],"description":"Use this API to update the policy sub-setting of a specific [auto receptionist](https://support.zoom.us/hc/en-us/articles/360021121312-Managing-Auto-Receptionists-and-Interactive-Voice-Response-IVR-) according to the policy type. For example, you can update shared access members.\n\n**Prerequisites:**\n* Pro or higher account plan with Zoom Phone license\n* Account owner or admin permissions\n\n**Scopes:** `phone:write:admin`\n\n **[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `Light`","operationId":"updatePolicy","requestBody":{"content":{"application/json":{"schema":{"properties":{"voicemail_access_member":{"description":"The voicemail access members setting.","properties":{"access_user_id":{"description":"The Zoom user ID whose voicemail permissions need to be updated.","type":"string","example":"w0RChiauQeqRlv5fgxYULQ"},"delete":{"description":"Specify whether the user has delete permissions. The default is **false**.","type":"boolean","example":false},"download":{"description":"Specify whether the user has download permissions. The default is **false**.","type":"boolean","example":false},"shared_id":{"description":"The unique identifier of the shared voicemail that the user can access.","type":"string","example":"--e8ugg0SeS-9clgrDkn2w"}},"type":"object"}},"type":"object"}}}},"summary":"Update a policy setting"},"post":{"parameters":[{"description":"The unique identifier of the auto receptionist. It can be retrieved from the [List auto receptionists API](https://marketplace.zoom.us/docs/api-reference/phone/methods#operation/listAutoReceptionists).","in":"path","name":"autoReceptionistId","required":true,"schema":{"type":"string","example":"nqerMCD0Tu6RPGoCpVbPtA"}},{"description":"Corresponds to the policy item you wish to add. Allowed values: `voice_mail`","in":"path","name":"policyType","required":true,"schema":{"type":"string","example":"voice_mail"}}],"responses":{"201":{"content":{"application/json":{"schema":{"properties":{"voicemail_access_member":{"properties":{"shared_id":{"description":"Unique identifier of the shared voicemail that the user can access.","type":"string","example":"--e8ugg0SeS-9clgrDkn2w"},"access_user_id":{"description":"The user that is allowed to access voicemail messages for the extension.","type":"string","example":"w0RChiauQeqRlv5fgxYULQ"},"delete":{"description":"Specifies whether the user has delete permissions. The default is **false**.","type":"boolean","example":false},"download":{"description":"Specifies whether the user has download permissions. The default is **false**.","type":"boolean","example":false}},"type":"object"}},"type":"object"}}},"description":"**HTTP Status Code:** `201` **Created**<br>\nAuto receptionist policy created successfully."},"400":{"description":"**HTTP Status Code:** `400` **Bad Request**\n\n**Error Code:** `300` **Validation Failed**<br>\n\nAuto Receptionist does not exist:{0}.<br>\n\nShared voicemail already exits.\n\n**Error Code:** `429`<br> You can only add up to {0} {1} to access your voicemail.<br>\n\nUser does not exist: {0}."}},"security":[{"OAuth":[]}],"tags":["Auto Receptionists"],"description":"Use this API to add a policy sub-setting according to the policy type for a specific [auto receptionist](https://support.zoom.us/hc/en-us/articles/360021121312-Managing-Auto-Receptionists-and-Interactive-Voice-Response-IVR-). For example, you can set up shared access members.\n\n**Prerequisites:**\n* Pro or higher account plan with Zoom Phone license\n* Account owner or admin permissions\n\n**Scopes:** `phone:write:admin`\n\n **[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `Light`","operationId":"AddPolicy","requestBody":{"content":{"application/json":{"schema":{"properties":{"voicemail_access_member":{"properties":{"access_user_id":{"description":"The user allowed to access voicemail messages for the extension.","type":"string","example":"w0RChiauQeqRlv5fgxYULQ"},"delete":{"description":"Specifies whether the user has delete permissions. The default is **false**.","type":"boolean","example":false},"download":{"description":"Specifies whether the user has download permissions. The default is **false**.","type":"boolean","example":false}},"type":"object"}},"type":"object"}}}},"summary":"Add a policy setting"},"delete":{"parameters":[{"description":"The unique identifier of the auto receptionist. It can be retrieved from the [List auto receptionists API](https://marketplace.zoom.us/docs/api-reference/phone/methods#operation/listAutoReceptionists).","in":"path","name":"autoReceptionistId","required":true,"schema":{"type":"string","example":"nqerMCD0Tu6RPGoCpVbPtA"}},{"description":"Corresponds to the policy item you wish to remove. Allowed values: `voice_mail`","in":"path","name":"policyType","required":true,"schema":{"type":"string","example":"voice_mail"}},{"description":"Unique identifier of the voicemail that the user can access. Required only for `voice_mail` policy type.","name":"shared_ids","in":"query","required":true,"schema":{"type":"array","items":{"type":"string","example":"p8JVVAopTwuA0eLzSwAcwg"}}}],"responses":{"204":{"description":"**HTTP Status Code:** `204` **No Content**\n\nAuto receptionist policy successfully deleted."},"400":{"description":"**HTTP Status Code:** `400` **Bad Request**\n\n**Error Code:** `300` **Validation Failed**<br>\n\nAuto Receptionist does not exist:{0}.<br>\n\nThe shared voicemail  does not exist:{0}."}},"tags":["Auto Receptionists"],"description":"Use this API to remove the policy sub-setting of a [auto receptionist](https://support.zoom.us/hc/en-us/articles/360021121312-Managing-Auto-Receptionists-and-Interactive-Voice-Response-IVR-). For example, you can remove shared access members.\n\n**Prerequisites:**\n* Pro or higher account plan with Zoom Phone license\n* Account owner or admin permissions\n\n**Scopes:** `phone:write:admin`\n\n **[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `Light`","operationId":"DeletePolicy","summary":"Delete a policy setting"}},"/phone/auto_receptionists/{autoReceptionistId}/ivr":{"get":{"parameters":[{"description":"The unique identifier of the auto receptionist. It can be retrieved from the [List Phone Sites](https://marketplace.zoom.us/docs/api-reference/phone/methods#operation/listPhoneSites) API.","in":"path","name":"autoReceptionistId","required":true,"schema":{"type":"string","example":"HpgmeAcmSVK-UY-0RxDcfg"}},{"description":"The query hours type: `business_hours` or `closed_hours`, default `business_hours`.","in":"query","name":"hours_type","schema":{"default":"business_hours","type":"string","example":"business_hours"}},{"description":"The auto receptionist holiday hours ID. If both `holiday_id` and `hours_type` are passed, `holiday_id` has a high priority and `hours_type` is invalid.","in":"query","name":"holiday_id","schema":{"type":"string","example":"YpLBylKbQKe1vEB1iSGatQ"}}],"responses":{"200":{"content":{"application/json":{"schema":{"properties":{"audio_prompt":{"properties":{"id":{"description":"The audio prompt file ID. If the audio was removed from the user's audio library, it will be marked with a prefix, `removed_vWby3OZaQlS1nAdmEAqgwA` for example. You can still use this audio ID to get the audio information in [Get an audio item](https://marketplace.zoom.us/docs/api-reference/phone/methods#tag/Audio-Library/operation/GetAudioItem) API.","type":"string","example":"yCT14TwySDGVUypVlKNEyA"},"name":{"description":"The audio prompt file name.","type":"string","example":"example.mp3"}},"type":"object"},"caller_enters_no_action":{"description":"The action if caller enters no action after the prompt played.","properties":{"action":{"description":"The action if the caller enters no action after the prompt played.<br>\n`-1` Disconnect the call<br>\n`2` Forward to the user\n<br>`4` Forward to the common area\n<br>`5` Forward to Cisco/Polycom Room\n<br>`6` Forward to the auto receptionist\n<br>`7` Forward to the call queue\n<br>`8` Forward to the shared line group\n<br>`15` Forward to the Contact Center\n","type":"integer","example":15},"audio_prompt_repeat":{"description":"The number of times to repeat the audio prompt.","enum":[1,2,3],"type":"integer","example":3},"forward_to":{"properties":{"display_name":{"description":"The display name.","type":"string","example":"ZOOM_API Test"},"extension_id":{"description":"The extension ID or contact center setting ID.","type":"string","example":"z97zV9NsSoa846i-ag3uEw"},"extension_number":{"description":"The extension number.","type":"string","example":"101021"},"id":{"description":"The user, common area, Zoom Room, Cisco/Polycom room, auto receptionist, call queue, or shared line group ID.","type":"string","example":"EVqEKnrMRWyPr705Fk5h2w"}},"type":"object"}},"type":"object"},"key_actions":{"description":"IVR routing options.","items":{"properties":{"action":{"description":"The action after clicking the key.<br>\nFor key `0`-`9`<br>\n`100` Leave voicemail to the current extension<br>\n`200` Leave voicemail to the user<br>\n`300` Leave voicemail to the auto receptionist<br>\n`400` Leave voicemail to the  call queue<br>\n`500` Leave voicemail to the shared line group<br>\n`2` Forward to the user<br>\n`3` Forward to Zoom Room<br>\n`4` Forward to the common area<br>\n`5` Forward to Cisco/Polycom Room<br>\n`6` Forward to the auto receptionist<br>\n`7` Forward to the call queue<br>\n`8` Forward to the shared line group<br>\n`9` Forward to external contacts<br>\n`10` Forward to a phone number<br>\n`15` Forward to the contact center<br>\n`16` Forward to the meeting service<br>\n`17` Forward to the meeting service number<br>\n`-1` Disabled\n\nFor key * or #<br>\n`21` Repeat menu greeting<br>\n`22` Return to the root menu<br>\n`23` Return to the previous menu<br>\n`-1` Disabled","type":"integer","example":200},"key":{"description":"The key. The following values are supported: numeric('0'-'9'), *, #.","type":"string","example":"0"},"target":{"description":"The route to an extension, phone number, or a contact center.","properties":{"display_name":{"description":"The display name.","type":"string","example":"ZOOM_API Test"},"extension_id":{"description":"The extension ID or contact center setting ID.","type":"string","example":"TO586CYlQFC_WCUvPRXytA"},"extension_number":{"description":"The extension number.","type":"string","example":"101002"},"id":{"description":"The user, common area, Zoom Room, Cisco/Polycom room, auto receptionist, call queue, or shared line group ID.","type":"string","example":"oG_nYRFuTJiY1tu0Fur_4Q"},"phone_number":{"description":"The phone number to forward to in E164 format.","type":"string","example":"+12055437350"}},"type":"object"},"voicemail_greeting":{"description":"The voicemail greeting.","properties":{"id":{"description":"The voicemail greeting file ID. If the audio was removed from the user's audio library, it will be marked with a prefix, `removed_vWby3OZaQlS1nAdmEAqgwA` for example. You can still use this audio ID to get the audio information in [Get an audio item](https://marketplace.zoom.us/docs/api-reference/phone/methods#tag/Audio-Library/operation/GetAudioItem) API.","type":"string","example":"j2IsurWLRR-yWcbNGqPnaA"},"name":{"description":"The voicemail greeting file name.","type":"string","example":"custom.wav"}},"type":"object"}},"type":"object"},"type":"array"}},"type":"object"}}},"description":"**HTTP Status Code:** `200` <br>Get an interactive voice response (IVR) system of an auto receptionist."},"400":{"description":"**HTTP Status Code:** `400`<br>\n**Error code**: `400` <br>Auto Receptionist does not exist: {0}.\nHoliday hours handling does not exist: {0}."}},"tags":["IVR"],"description":"Gets an [interactive voice response (IVR) system](https://support.zoom.us/hc/en-us/articles/360038601971) of the specified auto receptionist.\n\n**Scopes:** `phone:read:admin`<br>**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `Light`\n\n**Prerequisites:**\n * A Business or Enterprise account \n* A Zoom Phone license","operationId":"getAutoReceptionistIVR","summary":"Get auto receptionist IVR"},"patch":{"parameters":[{"description":"The auto receptionist id.","in":"path","name":"autoReceptionistId","required":true,"schema":{"type":"string","example":"HpgmeAcmSVK-UY-0RxDcfg"}}],"responses":{"204":{"content":{"application/json":{"schema":{}}},"description":"**HTTP Status Code:** `204` **No Content**<br>\nAuto Receptionist IVR updated."},"400":{"description":"**HTTP Status Code:** `400`<br>\n**Error code**: `400` <br>Auto Receptionist does not exist: {0}.\nHoliday hours handling does not exist: {0}.\n**Error code**: `300` <br>The number of times to repeat the audio prompt is required and can not be greater than 3.\nThe action value set for if caller enters no action after the prompt played is not correct.\nThe action value is not correct.\nThe id for noAction to forward to is not correct.\nVoicemail greeting file id is required.\nThe phone number to forward to is required."}},"tags":["IVR"],"description":"Updates the [interactive voice response (IVR) system](https://support.zoom.us/hc/en-us/articles/360038601971) of the specified auto receptionist.\n\n**Scopes:** `phone:write:admin`<br>**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `Light`\n\n**Prerequisites:**\n * A Business or Enterprise account \n* A Zoom Phone license","operationId":"updateAutoReceptionistIVR","requestBody":{"content":{"application/json":{"schema":{"properties":{"audio_prompt_id":{"description":"The audio prompt file ID.","type":"string","example":"j2IsurWLRR-yWcbNGqPnaA"},"caller_enters_no_action":{"description":"The action if caller enters no action after the prompt played.","properties":{"action":{"description":"The action if caller enters no action after the prompt played.\n-1 Disconnect the call\n2 Forward to the user\n4 Forward to the common area\n5 Forward to Cisco/Polycom Room\n6 Forward to the auto receptionist\n7 Forward to the call queue\n8 Forward to the shared line group\n15 Forward to the Contact Center\n","type":"integer","example":200},"audio_prompt_repeat":{"description":"The number of times to repeat the audio prompt.","enum":[1,2,3],"type":"integer","example":2},"forward_to_extension_id":{"description":"The extension ID or contact center setting ID.","type":"string","example":"z97zV9NsSoa846i-ag3uEw"}},"type":"object"},"holiday_id":{"description":"The auto receptionist holiday hours ID. If both `holiday_id` and `hours_type` are passed, `holiday_id` has a high priority and `hours_type` is invalid.","type":"string","example":"YpLBylKbQKe1vEB1iSGatQ"},"hours_type":{"description":"Hours type: `business_hours` (default) or `closed_hours`.","type":"string","example":"closed_hours"},"key_action":{"properties":{"action":{"description":"The action after clicking the key.<br>\nFor key `0`-`9`\n100 Leave voicemail to the current extension\n200 Leave voicemail to the user\n300 Leave voicemail to the auto receptionist\n400 Leave voicemail to the  call queue\n500 Leave voicemail to the shared line group\n2 Forward to the user\n3 Forward to Zoom Room\n4 Forward to the common area\n5 Forward to Cisco/Polycom Room\n6 Forward to the auto receptionist\n7 Forward to the call queue\n8 Forward to the shared line group\n9 Forward to external contacts\n10 Forward to a phone number\n15 Forward to the contact center\n16 Forward to the meeting service\n17 Forward to the meeting service number\n-1 Disabled\n\nFor key * or #\n21 Repeat menu greeting\n22 Return to the root menu\n23 Return to the previous menu\n-1 Disabled","type":"integer","example":200},"key":{"description":"The key. The following values are supported: numeric('0'-'9'), *, #.","type":"string","example":"0"},"target":{"properties":{"extension_id":{"description":"The extension ID or contact center setting ID.","type":"string","example":"CQLPaj0oSCC0olJLmAfgwQ"},"phone_number":{"description":"The phone number to forward.","type":"string","example":"+12055437350"}},"type":"object"},"voicemail_greeting_id":{"description":"The voicemail greeting file ID.","type":"string","example":"z97zV9NsSoa846i-ag3uEw"}},"type":"object"}},"type":"object"}}}},"summary":"Update auto receptionist IVR"}},"/phone/auto_receptionists/{autoReceptionistId}/phone_numbers":{"delete":{"parameters":[{"in":"path","name":"autoReceptionistId","required":true,"schema":{"type":"string","example":"nqerMCD0Tu6RPGoCpVbPtA"}}],"responses":{"204":{"content":{"application/json":{"schema":{}}},"description":"**HTTP Status Code:** `204` **No Content**<br>\nPhone numbers unassigned successfully."},"404":{"description":"**HTTP Status Code:** `404` **Not Found**<br><br>\n**Error Code:** `404`<br>\nAutoReceptionist does not exist, AutoReceptionistId: {autoReceptionId}"}},"security":[{"OAuth":[]}],"tags":["Auto Receptionists"],"description":"Unassign all phone numbers that were previously assigned to an [auto receptionist](https://support.zoom.us/hc/en-us/articles/360021121312-Managing-Auto-Receptionists-and-Interactive-Voice-Response-IVR-). \n\n**Prerequisites:**\n* Pro or higher account plan with Zoom Phone License\n* Account owner or admin permissions<br>\n**Scopes:** `phone:write:admin`<br> \n\n **[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `Light`\n","operationId":"unassignAllPhoneNumsAutoReceptionist","summary":"Unassign all phone numbers"},"post":{"parameters":[{"description":"The unique identifier of the auto receptionist. It can be retrieved from the [List auto receptionists API](https://marketplace.zoom.us/docs/api-reference/phone/methods#operation/listAutoReceptionists).","in":"path","name":"autoReceptionistId","required":true,"schema":{"type":"string","example":"nqerMCD0Tu6RPGoCpVbPtA"}}],"responses":{"204":{"content":{"application/json":{"schema":{}}},"description":"**HTTP Status Code:** `204` **No Content**<br>\nPhone numbers assigned successfully."},"400":{"description":"\n**HTTP Status Code:** `400` **Bad Request**<br>\n**Error Code:** `400`<br>\nUnable to update this number as it is used for outbound caller ID to public safety answering point.<br>\nPhone number does not exist, phonenumberId:{phonenumberId}<br>\nphoneNumber is used, phonenumberId:{phonenumberId}"},"404":{"description":"**HTTP Status Code:** `404` **Not Found**<br><br>\n**Error Code:** `404`<br>\nAutoReceptionist does not exist, AutoReceptionistId: {autoReceptionId}."}},"security":[{"OAuth":[]}],"tags":["Auto Receptionists"],"description":"Assign available phone numbers to an [auto receptionist](https://support.zoom.us/hc/en-us/articles/360021121312-Managing-Auto-Receptionists-and-Interactive-Voice-Response-IVR-). The available numbers can be retrieved using the List Phone Numbers API with `type` query parameter set to \"unassigned\".\n\n**Prerequisites:**\n* Pro or higher account plan with Zoom Phone License\n* Account owner or admin permissions<br>\n**Scopes:** `phone:write:admin`<br> \n\n\n **[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `Light`","operationId":"assignPhoneNumbersAutoReceptionist","requestBody":{"content":{"application/json":{"schema":{"properties":{"phone_numbers":{"description":"Provide either the unique identifier of the Phone Number  in the `id` field or provide the phone number in the `number` field.","items":{"properties":{"id":{"description":"Unique Identifier of the Phone number.","type":"string","example":"KsxwNLEhQ0SJ4U4Bor4ShA"},"number":{"description":"Phone number in e164 format.","type":"string","example":"+12058945717"}},"type":"object"},"type":"array"}},"type":"object"}}}},"summary":"Assign phone numbers"}},"/phone/auto_receptionists/{autoReceptionistId}/phone_numbers/{phoneNumberId}":{"delete":{"parameters":[{"description":"The unique identifier of the auto receptionist. It can be retrieved from the [List auto receptionists API](https://marketplace.zoom.us/docs/api-reference/phone/methods#operation/listAutoReceptionists).","in":"path","name":"autoReceptionistId","required":true,"schema":{"type":"string","example":"nqerMCD0Tu6RPGoCpVbPtA"}},{"description":"Unique Identifier of the phone number or provide the actual phone number in e164 format (example: +19995550123).","in":"path","name":"phoneNumberId","required":true,"schema":{"type":"string","example":"KsxwNLEhQ0SJ4U4Bor4ShA"}}],"responses":{"204":{"content":{"application/json":{"schema":{}}},"description":"**HTTP Status Code:** `204` **No Content**<br>\nPhone number unassigned successfully."},"400":{"description":"**HTTP Status Code:** `400` **Bad Request**<br>\n**Error Code:** `400`<br>\nPhone number does not belong to auto receptionist."},"404":{"description":"**HTTP Status Code:** `404` **Bad Request**<br>\n**Error Code:** `404`<br>\n AutoReceptionist does not exist, AutoReceptionistId: {autoReceptionId}."}},"security":[{"OAuth":[]}],"tags":["Auto Receptionists"],"description":"Unassign a specific phone number that was previously assigned to an [auto receptionist](https://support.zoom.us/hc/en-us/articles/360021121312-Managing-Auto-Receptionists-and-Interactive-Voice-Response-IVR-). \n\n**Prerequisites:**\n* Pro or higher account plan with Zoom Phone License\n* Account owner or admin permissions<br>\n**Scopes:** `phone:write:admin`<br> \n\n\n **[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `Light`","operationId":"unassignAPhoneNumAutoReceptionist","summary":"Unassign a phone number"}},"/phone/batch_locations":{"post":{"responses":{"201":{"content":{"application/json":{"schema":{"properties":{"locations":{"items":{"properties":{"display_name":{"description":"The location's display name.","type":"string","example":"example location"},"location_id":{"description":"The location ID.","type":"string","example":"FwOAeL4TRmqQrmF0jOfzkQ"}},"type":"object"},"type":"array"}},"type":"object"}}},"description":"**HTTP Status Code:** `201` \n\nCreated."},"400":{"description":"**HTTP Status Code:** `400`\n\n\n**Error Code:** `300`\n\nValidation Failed.\nLocation does not exist: {0}.\nToo many concurrent requests. A request to add locations batch has already been made.\nLocations size must be less than 10.\nYou can only access up to 5000 locations.\nCan not bind ELIN if location does not have an emergency address.\nA phone number can not be bound to multiple locations at the same time.\nPhone number format invalid.\nPhone number does not exist.\nThere is an error with the parent location of the sub location.\nNetwork switches size must be less than 100.\nSwitch MAC address is required.\nDuplicate Switch Info found.\nMac Address format invalid.\nNumber bssid per location limited to less than 100.\nBSSID format error.\nEmergency address Line 1 is required.\nEmergency address country is required.\nIP format error.\nPublic IP is required.\nSIP group does not exist.\nIdentifier can not be matched.\nYou can only access up to {0} level.\nThis location identifier already exists. You cannot have duplicate identifiers.\nThe parent_identifier can not be the value of the identifier of the same location.\nThis location display_name already exists. You cannot have duplicate location names.\nIdentifier is required.\nLocation name is required.\nEmergency address VAT is required in {0}.\nEmergency address state code is required in {0}.\nEmergency address zip is required in {0}.\nThe field can not exceed {0} characters.\n"}},"tags":["Emergency Service Locations"],"description":"Batches the add emergency service locations.\n\n**Prerequisites:**\n* Pro or higher account plan with Zoom phone license\n* Account owner or admin permissions\n\n**Scope:** `phone:write:admin`\n\n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `Light`","operationId":"batchAddLocations","requestBody":{"content":{"application/json":{"schema":{"properties":{"locations":{"items":{"properties":{"bssid":{"description":"The location's BSSID (Basic Service Set Identifier).","type":"string","example":"SA43YjfBTS6gJbUpfvIziQ"},"company_address":{"properties":{"address_line1":{"description":"The location's physical address.","type":"string","example":"55 Almaden Boulevard"},"address_line2":{"description":"The location's optional physical address information. For example, a suite number.","type":"string","example":"6th floor"},"city":{"description":"The location's city.","type":"string","example":"SAN JOSE"},"country":{"description":"The location's country.","type":"string","example":"United States"},"state_code":{"description":"The location's state, province, or territory.","type":"string","example":"CA"},"vat_number":{"description":"The location's VAT/NIF/CIF number. This number gets a new phone number online.\n\n**Note:** For Belgium, Netherlands, Portugal, Spain, and Switzerland, this field is required.","type":"string","example":"123456789B01"},"zip":{"description":"The location's ZIP or postal code.","type":"string","example":"95113"}},"required":["address_line1","country"],"type":"object"},"display_name":{"description":"The location's display name.","type":"string","example":"example location"},"elin":{"description":"The location's ELIN (Emergency Location Identification Number). This value can be a BYOC number. If you use a BYOC number, you will need to manually update the BYOC address with your carrier.","type":"string","example":"+12058945656"},"identifier":{"description":"The location's ID.","type":"string","example":"eRYjZlItQIqlFbCuRA__SQ"},"network_switches":{"items":{"properties":{"mac_address":{"description":"The location's assigned MAC address. It's required if the `network_switches` value is set.","type":"string","example":"0004f25eec3d"},"port":{"description":"The location's port label. You **cannot** pass this parameter with the `port_prefix` and `port_range` parameter.","type":"string","example":"11"},"port_prefix":{"description":"The location's port prefix. The prefix value **cannot** end with a digit.\n\nThis parameter passes with the `port_range_from` and `port_range_to` parameters.","type":"string","example":"1"},"port_range_from":{"description":"The location's port starting range number. It can be a non-negative integer value.\n\nThis value **must** be less than or equal to the `port_range_to` value.","type":"string","example":"10"},"port_range_to":{"description":"The location's port ending range number. It can be a non-negative integer value.\n\nThis value **cannot** be less than the `port_range_from` value.","type":"string","example":"20"}},"type":"object"},"type":"array"},"parent_identifier":{"description":"The location's parent location ID. Leave this value empty if the current location is a top location.","type":"string","example":"FksDtQDfR9qs3gWXNDsfIw"},"private_ip":{"description":"The location's subnet or private IP address. This field is required if `minimum_match_criteria` is true.","type":"string","example":"192.1.1.2"},"public_ip":{"description":"The location's public IP address. This field is required for top locations.","type":"string","example":"192.1.1.1"},"sip_group_name":{"description":"The location's assigned SIP routing group for outgoing calls. The system routes the call to the defined [SIP trunk](https://en.wikipedia.org/wiki/SIP_trunking) in the SIP groups when location-based routing is enabled.\n\nThis only affects top locations and ignores all other locations.","type":"string","example":"band width"},"minimum_match_criteria":{"description":"If true, it requires a user's location match on both public and private IP address, or BSSID, or network switch; detecting only a public IP address is not enough to detect the location.","type":"boolean","example":true}},"required":["identifier","display_name","company_address"],"type":"object"},"type":"array"},"site_id":{"description":"The site's ID.","type":"string","example":"SQv52YtkRLC2dwrDdYtGsA"}},"required":["locations"],"type":"object"}}}},"summary":"Batch add emergency service locations"}},"/phone/blocked_list":{"get":{"parameters":[{"description":"The next page token paginates through a large set of results. A next page token is returned whenever the set of available results exceeds the current page size. The expiration period for this token is 15 minutes.","in":"query","name":"next_page_token","schema":{"type":"string","example":"BJLYC6PABbAHdjwSkGVQeeR6B1juwHqj3G2"}},{"description":"The total number of records returned from a single API call.","in":"query","name":"page_size","schema":{"default":30,"maximum":100,"type":"integer","example":30}}],"responses":{"200":{"content":{"application/json":{"schema":{"properties":{"blocked_list":{"items":{"properties":{"block_type":{"description":"Block type.\n`inbound`: The blocked number or numbers with the specified prefix are prevented from calling in to phone users.\n`outbound`: The phone users  are prevented from calling the blocked number or numbers with the specified prefix.","enum":["inbound","outbound","threat"],"type":"string","example":"inbound"},"comment":{"description":"Provide a comment to help you identify the blocked number or prefix.","maxLength":255,"type":"string","example":"test"},"id":{"description":"Unique identifier of the blocked list.","type":"string","example":"2ypsHHwTTFK-fzZJkudYwA"},"match_type":{"description":"Indicates the match type for the blocked list:\n\n`phoneNumber`: Indicates that only a specific phone number that is shown in the `phone_number` field is blocked.\n\n`prefix`: Indicates that all numbers starting with the prefix that is shown in the `phone_number` field are blocked.","enum":["phoneNumber","prefix"],"type":"string","example":"prefix"},"phone_number":{"description":"The phone number to be blocked if you passed `phoneNumber` as the value for the `match_type` field. If you passed `prefix` as the value for the `match_type` field, provide the prefix of the phone number in the `country` field. Displayed in E164 format.","maxLength":50,"type":"string","example":"+12055558945"},"status":{"description":"Indicates whether the blocking is active or inactive. \n`active`: The blocked list is active.\n`inactive`: The blocked list is inactive.","enum":["active","inactive"],"type":"string","example":"active"}},"type":"object"},"type":"array"},"next_page_token":{"description":"The next page token is used to paginate through large result sets. A next page token will be returned whenever the set of available results exceeds the current page size. The expiration period for this token is 15 minutes.","type":"string","example":"OvrVMfenVmKgsH0SqfWQ2jgUsHFGXeanCB2"},"page_size":{"default":30,"description":"The total number of records returned from a single API call.","maximum":300,"type":"integer","example":30},"total_records":{"description":"The total number of records found for this query.","type":"integer","example":1}},"type":"object"}}},"description":"**HTTP Status Code:** `200` **OK**\n\nBlocked list returned successfully."}},"security":[{"OAuth":[]}],"tags":["Blocked List"],"description":"A Zoom account owner or a user with admin privilege can block phone numbers for phone users in an account. Blocked numbers can be inbound (numbers will be blocked from calling in) and outbound (phone users in your account won't be able to dial those numbers). Blocked callers will hear a generic message stating that the person they are calling is not available. \nUse this API to list all the blocked lists in an acccount.\n\n**Prerequisites:**\n* Pro or higher account plan with Zoom phone license\n\n**Scope:** `phone:read:admin`\n\n **[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `Medium`","operationId":"listBlockedList","summary":"List blocked lists"},"post":{"responses":{"201":{"content":{"application/json":{"schema":{"properties":{"id":{"description":"Unique identifier of the blocked list.","type":"string","example":"2ypsHHwTTFK-fzZJkudYwA"}},"type":"object"}}},"description":"**HTTP Status Code:** `201` **Created**\n\nNumber added to the blocked list successfully."},"400":{"description":"**HTTP Status Code:** `400` <br>\n Bad Request \n\n **Error Code:** `300` <br>\nInvalid country."},"409":{"description":"**HTTP Status Code:** `409` **Conflict**\n\n\nBlocked number already exists."}},"security":[{"OAuth":[]}],"tags":["Blocked List"],"description":"A Zoom account owner or a user with the admin privilege can block phone numbers for phone users in an account. Blocked numbers can be inbound (numbers will be blocked from calling in) and outbound (phone users in your account won't be able to dial those numbers). Blocked callers will hear a generic message stating that the person they are calling is not available. Use this API to create a block list and add a number to the list.\n\n**Prerequisites:**\n* Pro or higher account plan with Zoom phone license\n\n**Scope:** `phone:write:admin`\n\n **[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `Light`","operationId":"addAnumberToBlockedList","requestBody":{"content":{"application/json":{"schema":{"properties":{"block_type":{"description":"State whether you want the block type to be inbound or outbound.\n\n`inbound`: Pass this value to prevent the blocked number or prefix from calling into the phone users.\n\n`outbound`: Pass this value to prevent phone users from calling the blocked number or prefix.","enum":["inbound","outbound","threat"],"type":"string","example":"inbound"},"comment":{"description":"Provide a comment to help you identify the blocked number or prefix.","maxLength":255,"type":"string","example":"test"},"country":{"description":"The country information. For example, entering US or CH.","maxLength":50,"type":"string","example":"US"},"match_type":{"description":"Specify the match type for the blocked list:\n\n* `phoneNumber`: Choose this option (Phone Number Match) if you want to block a specific phone number. Provide the phone number in the `phone_number` field and the country code in the `country` field.\n\n* `prefix`: Choose this option (Prefix Match) if you want to block all numbers with a specific country or an area code. Enter a phone number in the `phone_number` field and in the `country` field, enter a country code as part of the prefix.","enum":["phoneNumber","prefix"],"type":"string","example":"prefix"},"phone_number":{"description":"The phone number to be blocked if you passed `phoneNumber` as the value for the `match_type` field. If you passed `prefix` as the value for the `match_type` field, provide the prefix of the phone number in the `country` field.","maxLength":50,"type":"string","example":"112"},"status":{"description":"Enable or disable the blocking. One of the following values are allowed:\n\n`active`: Keep the blocking active.\n\n`inactive`: Disable the blocking.","enum":["active","inactive"],"type":"string","example":"active"}},"type":"object"}}}},"summary":"Create a blocked list"}},"/phone/blocked_list/{blockedListId}":{"delete":{"parameters":[{"description":"Unique identifier of the blocked list. This can be retrieved from the List Blocked List API.","in":"path","name":"blockedListId","required":true,"schema":{"type":"string","example":"2ypsHHwTTFK-fzZJkudYwA"}}],"responses":{"204":{"content":{"application/json":{"schema":{}}},"description":"**HTTP Status Code:** `204` **No Content**\n\nBlocked list deleted successfully."},"400":{"description":"**HTTP Status Code:** `400` **Bad Request**\n\n**Error Code:** `300`\n\nValidation Failed. Blocked number (Id: {blockedListId}) does not exist."}},"security":[{"OAuth":[]}],"tags":["Blocked List"],"description":"A Zoom account owner or a user with admin privilege can block phone numbers for phone users in an account. Blocked numbers can be inbound (numbers will be blocked from calling in) and outbound (phone users in your account won't be able to dial those numbers).\n\nUse this API to delete a blocked list and therefore removing the associated number from the blocked list. The number will be unblocked after the deletion.\n\n**Prerequisites:**\n* Pro or higher account plan with Zoom phone license\n\n**Scope:** `phone:write:admin`\n\n **[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `Light`","operationId":"deleteABlockedList","summary":"Delete a blocked list"},"get":{"parameters":[{"description":"Unique identifier of the blocked list.","in":"path","name":"blockedListId","required":true,"schema":{"type":"string","example":"2ypsHHwTTFK-fzZJkudYwA"}}],"responses":{"200":{"content":{"application/json":{"schema":{"properties":{"block_type":{"description":"Block type.\n\n* `inbound`: The blocked number or numbers with the specifie prefix are prevented from calling in to phone users.\n\n* `outbound`: The phone users  are prevented from calling the blocked number or numbers with the specified prefix.","enum":["inbound","outbound","threat"],"type":"string","example":"inbound"},"comment":{"description":"Provide a comment to help you identify the blocked number or prefix.","maxLength":255,"type":"string","example":"test"},"id":{"description":"Unique identifier of the blocked list.","type":"string","example":"2ypsHHwTTFK-fzZJkudYwA"},"match_type":{"description":"Indicates the match type for the blocked list. The values can be one of the following:\n\n* `phoneNumber`: Indicates that only a specific phone number that is shown in the `phone_number` field is blocked.\n\n* `prefix`: Indicates that all numbers starting with prefix that is shown in the `phone_number` field are blocked.","enum":["phoneNumber","prefix"],"type":"string","example":"prefix"},"phone_number":{"description":"The phone number or the prefix number that is blocked based on the `match_type`. Displayed in E164 format.","maxLength":50,"type":"string","example":"+12055558945"},"status":{"description":"Indicates whether the blocking is active or inactive.\n\n*n`active`: The blocked list is active.\n\n* `inactive`: The blocked list is inactive.","enum":["active","inactive"],"type":"string","example":"active"}},"type":"object"}}},"description":"**HTTP Status Code:** `200` **OK**\n\nBlocked list retrieved successfully."},"400":{"description":"**HTTP Status Code:** `400` **Bad Request**\n\n**Error Code:** `400`\n\nBlocked number (Id: {blockedListId}) does not exist."}},"security":[{"OAuth":[]}],"tags":["Blocked List"],"description":"A Zoom account owner or a user with admin privilege can block phone numbers for phone users in an account. Blocked numbers can be inbound (numbers will be blocked from calling in) and outbound (phone users in your account won't be able to dial those numbers). Blocked callers will hear a generic message stating that the person they are calling is not available.\nUse this API to get information about a specific blocked list.\n\n**Prerequisites:**\n* Pro or higher account plan with Zoom phone license\n\n**Scope:** `phone:read:admin`\n \n\n **[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `Light`","operationId":"getABlockedList","summary":"Get blocked list details"},"patch":{"parameters":[{"description":"Unique identifier of the blocked list.","in":"path","name":"blockedListId","required":true,"schema":{"type":"string","example":"2ypsHHwTTFK-fzZJkudYwA"}}],"responses":{"204":{"content":{"application/json":{"schema":{}}},"description":"**HTTP Status Code:** `204` **No Content**\n\nBlocked list updated successfully.\n"},"400":{"description":"**HTTP Status Code:** `400` **Bad Request**\n\nBlocked number (Id: {blockedListId}) does not exist.\n\n **Error Code:** `300` <br>\nInvalid country.\n"},"409":{"description":"**HTTP Status Code:** `409` **Conflict**\n\n\nBlocked number already exists."}},"security":[{"OAuth":[]}],"tags":["Blocked List"],"description":"A Zoom account owner or a user with admin privilege can block phone numbers for phone users in an account. Blocked numbers can be inbound (numbers will be blocked from calling in) and outbound (phone users in your account won't be able to dial those numbers). Blocked callers will hear a generic message stating that the person they are calling is not available.\nUse this API to update the information on the blocked list.\n\n**Prerequisites:**\n* Pro or higher account plan with Zoom phone license\n\n**Scope:** `phone:write:admin`\n\n **[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `Light`","operationId":"updateBlockedList","requestBody":{"content":{"application/json":{"schema":{"properties":{"block_type":{"description":"State whether you want the block type to be inbound or outbound.\n`inbound`: Pass this value to prevent the blocked number or prefix from calling in to phone users.\n`outbound`: Pass this value to prevent phone users from calling the blocked number or prefix.","enum":["inbound","outbound"],"type":"string","example":"outbound"},"comment":{"description":"Provide a comment to help you identify the blocked number or prefix.","maxLength":255,"type":"string","example":"testComment"},"country":{"description":"The country information. For example, entering US or CH.","maxLength":50,"type":"string","example":"CH"},"match_type":{"description":"Specify the match type for the blocked list:\n\n* `phoneNumber`: Choose this option (Phone Number Match) if you want to block a specific phone number. Provide the phone number in the `phone_number` field and the country code in the `country` field.\n\n* `prefix`: Choose this option (Prefix Match) if you want to block all numbers with a specific country or an area code. Enter a phone number in the `phone_number` field and in the `country` field, enter a country code as part of the prefix.","enum":["phoneNumber","prefix"],"type":"string","example":"prefix"},"phone_number":{"description":"The phone number to be blocked if you passed `phoneNumber` as the value for the `match_type` field. If you passed `prefix` as the value for the `match_type` field, provide the prefix of the phone number in the `country` field.","maxLength":50,"type":"string","example":"113"},"status":{"description":"Enable or disable the blocking:\n* `active`: Keep the blocking active.\n* `inactive`: Disable the blocking.","enum":["active","inactive"],"type":"string","example":"inactive"}},"type":"object"}}}},"summary":"Update a blocked list"}},"/phone/byoc_numbers":{"post":{"responses":{"201":{"content":{"application/json":{"schema":{"properties":{"phone_numbers":{"items":{"properties":{"id":{"description":"Unique identifier of the phone number.","type":"string","example":"LzPlp8GwR6iytydAq2luIg"},"number":{"description":"Phone number in e164 format.","type":"string","example":"8618251885565"}},"type":"object"},"type":"array"}},"type":"object"}}},"description":"**HTTP Status Code:** `201` **Created**"},"300":{"description":"**HTTP Status Code:** `300`\n\nValidation failed. Adding batch phone numbers are limited to 50 per request.\n\n"},"400":{"description":"**HTTP Status Code:** `400` **Bad request**\n\nBYOC phone numbers are not enabled for this account."},"401":{"description":"**HTTP Status Code:** `401` **Unauthorized**\n\n**Error Code:** `124` Account does not exist: {accountId}. "},"404":{"description":"**HTTP Status Code:** `404` **Not Found**\n\nThe following account carrier does not exist: {0}."},"429":{"description":"**HTTP Status Code:** `429` **Too Many Requests**\n\n You have reached the maximum number of concurrent requests for this account's BYOC phone numbers."}},"tags":["Phone Numbers"],"description":"Use this API to add BYOC (Bring Your Own Carrier) phone numbers to Zoom Phone.\n\n**Scopes:** `phone:write:admin`, `phone:write`, or `phone:master`</br>**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `Light`\n\n**Prerequisites:** \n* A Business or Enterprise plan \n* A Zoom Phone license","operationId":"addBYOCNumber","requestBody":{"content":{"application/json":{"schema":{"properties":{"carrier":{"description":"Name of the carrier.","type":"string","example":"Bandwidth"},"phone_numbers":{"description":"Phone number(s) to be added to Zoom. The value should be in e164 format.","items":{"type":"string","example":"+8618251885564"},"type":"array"},"sip_group_id":{"description":"Sip group id.","type":"string","example":"GgyGPoRESCKAD8JpGXjJ8w"},"site_id":{"description":"Unique identifier of the site. This field is only required if you have enabled multiple sites in the account. See [Managing multiple sites](https://support.zoom.us/hc/en-us/articles/360020809672-Managing-multiple-sites) or [Adding a site](https://support.zoom.us/hc/en-us/articles/360020809672-Managing-multiple-sites#h_05c88e35-1593-491f-b1a8-b7139a75dc15) for details.","type":"string","example":"8f71O6rWT8KFUGQmJIFAdQ"}},"required":["carrier","phone_numbers"],"type":"object"}}}},"summary":"Add BYOC phone numbers"}},"/phone/call_logs":{"get":{"parameters":[{"description":"The number of records returned within a single API call.","in":"query","name":"page_size","schema":{"default":30,"maximum":300,"type":"integer","example":30}},{"description":"The start time and date in **yyyy-mm-dd** or **yyyy-MM-dd'T'HH:mm:ss'Z'** format. The date range defined by the `from` and `to` parameters should be a month as the response only includes one month's worth of data. The month defined should fall within the last six months. If unspecified, returns data within the 24 hours.","in":"query","name":"from","schema":{"format":"date","type":"string","example":"2020-10-31"}},{"description":"**Required** only when the `from` parameter is specified. End time and date in **yyyy-mm-dd** or **yyyy-MM-dd'T'HH:mm:ss'Z'** format, the same format as the `from` parameter.","in":"query","name":"to","schema":{"format":"date","type":"string","example":"2021-12-31"}},{"description":"The type of the call logs. The value can be either \"all\" or \"missed\".","in":"query","name":"type","schema":{"type":"string","example":"all"}},{"description":"The next page token paginates through a large set of results. A next page token is returned whenever the set of available results exceeds the current page size. The expiration period for this token is 15 minutes.","in":"query","name":"next_page_token","schema":{"type":"string","example":"BJLYC6PABbAHdjwSkGVQeeR6B1juwHqj3G2"}},{"description":"Filter the API response by [path](https://support.zoom.us/hc/en-us/articles/360021114452-Viewing-and-identifying-logs#h_646b46c6-0623-4ab1-8b8b-ea5b8bcef679) of the call. The value of this field can be one of the following: `voiceMail`, `message`, `forward`, `extension`, `callQueue`, `ivrMenu`, `companyDirectory`, `autoReceptionist`, `contactCenter`, `disconnected`, `commonAreaPhone`,\n`pstn`, `transfer`, `sharedLines`, `sharedLineGroup`, `tollFreeBilling`, `meetingService`, `parkPickup`,\n`parkTimeout`, `monitor`, `takeover`, `sipGroup`","in":"query","name":"path","schema":{"type":"string","example":"extension"}},{"description":"Enables you to search call logs by start or end time. Choose `startTime` or `endTime`.","in":"query","name":"time_type","schema":{"default":"startTime","enum":["startTime","endTime"],"type":"string","example":"startTime"}},{"description":"Unique identifier of the [site](https://support.zoom.us/hc/en-us/articles/360020809672-Managing-multiple-sites). Use this query parameter if you have enabled multiple sites and would like to filter the response of this API call by call logs of a specific phone site.","in":"query","name":"site_id","schema":{"type":"string","example":"8f71O6rWT8KFUGQmJIFAdQ"}},{"description":"Whether to filter API responses to include call logs that only have a non-zero charge.","in":"query","name":"charged_call_logs","schema":{"type":"boolean","example":false}}],"responses":{"200":{"content":{"application/json":{"schema":{"description":"Account Call Logs","properties":{"call_logs":{"description":"Call Log","items":{"properties":{"answer_start_time":{"description":"GMT date and time at which the inbound call was answered. The value of this field is in `yyyy-MM-dd'T'HH:mm:ss'Z'` format.\n\t\t","format":"date-time","type":"string","example":"2021-10-12T16:00:08Z"},"call_end_time":{"description":"The call end time in GMT `date-time` format.","type":"string","example":"2021-10-08T16:12:04Z"},"call_id":{"description":"Unique identifier of the phone call.","type":"string","example":"7018210229361148737"},"call_type":{"description":"The type of call:\n* `voip` (Voice over IP)\n* `pstn` (Public Switched Telephone Network)\n* `tollfree`\n* `international`\n* `contactCenter`","enum":["voip","pstn","tollfree","international","contactCenter"],"type":"string","example":"voip"},"callee_country_code":{"description":"Country calling code.","type":"string","example":"1"},"callee_country_iso_code":{"description":"ISO alpha2 country code.","type":"string","example":"US"},"callee_did_number":{"description":"Callee's DID (direct inward dial) number in e164 format.","type":"string","example":"+12055432724"},"callee_name":{"description":"Contact name of callee","type":"string","example":"Callee name"},"callee_number":{"description":"Number of callee","type":"string","example":"1001"},"callee_number_type":{"description":"The callee's number type:\n* `1` — Extension number.\n* `2` — Phone number.\n* `3` — Customized emergency number.","enum":[1,2,3],"type":"integer","example":1},"callee_number_source":{"description":"Indicates where the phone number comes from:\n* `internal` — ZP native.\n* `external` — BYOC or Provider Exchange.\n* `byop` — Premise peering.\nNot available when `callee_number_type = 1`.","enum":["internal","external","byop"],"type":"string","example":"internal"},"caller_country_code":{"description":"Country calling code.","type":"string","example":"1"},"caller_country_iso_code":{"description":"ISO alpha2 country code.","type":"string","example":"US"},"caller_did_number":{"description":"Caller's DID (direct inward dial) number in e164 format.","type":"string","example":"+12055432724"},"caller_name":{"description":"Contact name of caller","type":"string","example":"Caller name"},"caller_number":{"description":"Number of caller","type":"string","example":"+12059300920"},"caller_number_type":{"description":"The caller's number type: \n* `1` — Extension number. \n* `2` — Phone number.","enum":[1,2],"type":"integer","example":1},"caller_number_source":{"description":"Indicates where the phone number comes from:\n* `internal` — ZP native.\n* `external` — BYOC or Provider Exchange.\n* `byop` — Premise peering.\nNot available when `caller_number_type = 1`.","enum":["internal","external","byop"],"type":"string","example":"internal"},"caller_billing_reference_id":{"description":"Billing reference ID (for peering phone numbers).","type":"string","example":"ZoomTelecom123456"},"charge":{"description":"Billing charge for the call.","type":"string","example":"$0.0255"},"client_code":{"description":"Client code.","type":"string","example":"123"},"date_time":{"description":"Start time of the call","type":"string","example":"2021-10-08T16:23:34Z"},"device_private_ip":{"description":"Display the device's private IP address if the account has the `show_device_ip_for_call_log` parameter set to `enabled`.","type":"string","example":"12"},"device_public_ip":{"description":"Display the device's public IP address if the account has the `show_device_ip_for_call_log` parameter set to `enabled`.","type":"string","example":"23"},"direction":{"description":"Direction of the call. \"inbound\" | \"outbound\"","type":"string","example":"inbound"},"duration":{"description":"Duration of the call in seconds.","type":"integer","example":25},"id":{"description":"Call Log ID","type":"string","example":"48c1dfd4-91ce-4df5-8495-7c9e33d10869"},"owner":{"properties":{"extension_number":{"description":"The owner's extension number.","type":"integer","format":"int64","example":1000001019},"id":{"description":"The owner ID.","type":"string","example":"N3hAhug-QVyFPYZJrHpRaQ"},"name":{"description":"The owner name.","type":"string","example":"123@test.com"},"type":{"description":"The owner type:\n*`user`\n*`callQueue`\n*`autoReceptionist`\n*`commonAreaPhone`\n*`sharedLineGroup`","enum":["user","callQueue","autoReceptionist","commonAreaPhone","sharedLineGroup"],"type":"string","example":"user"}},"type":"object"},"path":{"description":"Path of the call. ","type":"string","example":"pstn"},"rate":{"description":"Billing rate for the call.","type":"string","example":"0.0255"},"recording_id":{"description":"Unique identifier of the call recording.","type":"string","example":"c71b360f6e774e3aa101453117b7e1a7"},"recording_type":{"description":"Type of call recording:\n\n`1` OnDemand\n\n`2` Automatic","enum":[1,2],"type":"string","example":"OnDemand"},"result":{"description":"Result of the call: `Missed` | `Voicemail` | `Call connected` | `Rejected` | `Blocked`| `Busy`| `Wrong Number`| `No Answer`| `International Disabled`| `Internal Error`| `Call failed` | `Restricted Number`| `Call Cancel` | `Message`| `Answered by Other Member` | `Call Cancelled` | `Park` | `Parked` | `Blocked by non-GAL` |  `Blocked by info-Barriers` | `Recording Failure`| `Recorded`| `Auto Recorded`.","type":"string","example":"Call connected"},"site":{"properties":{"id":{"description":"Target [site](https://support.zoom.us/hc/en-us/articles/360020809672-Managing-Multiple-Sites) in which the phone number was assigned. Sites allow you to organize the phone users in your organization. For example, you sites could be created based on different office locations.","type":"string","example":"8f71O6rWT8KFUGQmJIFAdQ"},"name":{"description":"Name of the site where the phone number is assigned.","type":"string","example":"Main Site"}},"type":"object"},"user_id":{"description":"User ID of the call log owner.","type":"string","example":"IqoQmDRqS-aIoXqV_FZ88w"},"hold_time":{"description":"Hold time during a call in seconds.","type":"integer","example":5},"waiting_time":{"description":"Duration that a  **call queue member** takes to answer a call from the time it started ringing. The value of the duration is in seconds.\n\t\t\t","type":"integer","example":5},"department":{"description":"Name of the user's department.","type":"string","example":"web-api1"},"cost_center":{"description":"The cost center name to which a user belongs.","type":"string","example":"cost-center1"}},"type":"object"},"type":"array"},"from":{"description":"Start time and date of the log.","type":"string","example":"2021-10-01"},"next_page_token":{"description":"The next page token is used to paginate through large result sets. A next page token will be returned whenever the set of available results exceeds the current page size. The expiration period for this token is 15 minutes.","type":"string","example":"AmhfoKtF2Ey4TaPg2iZsAcmetRLs2ZY0Sk2"},"page_count":{"description":"Total number of pages","type":"integer","example":2},"page_size":{"description":"The number of records returned within a single API call for each page.","type":"integer","example":30},"to":{"description":"End time and date of the log","type":"string","example":"2021-10-12"},"total_records":{"description":"The total number of records returned.","type":"integer","example":54}},"type":"object"}}},"description":"**HTTP Status Code:** `200`\n\nAccount's call logs returned."},"404":{"description":"**HTTP Status Code:** `404`\n\n**Error Code:** `3001`\n\nError retrieving call logs."}},"security":[{"OAuth":[]}],"tags":["Call Logs"],"description":"Returns an account's [call logs](https://support.zoom.us/hc/en-us/articles/360021114452-Viewing-Call-Logs).\n\n**Prerequisites:** \n* A Business or Enterprise account \n* A Zoom Phone license \n* Account owner or a [role](https://support.zoom.us/hc/en-us/articles/115001078646-Role-Based-Access-Control) with Zoom Phone management\n\n**Scopes:** `phone:read:admin`, `phone_call_log:read:admin`\n\n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits/#zoom-phone-apis):** `Heavy`","operationId":"accountCallLogs","summary":"Get account's call logs"}},"/phone/call_logs/{callLogId}":{"get":{"parameters":[{"description":"Unique identifier of the call log. Both `callLogId` and `callId` can be used as path parameters. The value for this field can be retrieved from [account's call logs](https://marketplace.zoom.us/docs/api-reference/phone/methods#operation/accountCallLogs) or the [user's call logs](https://marketplace.zoom.us/docs/api-reference/phone/methods#operation/phoneUserCallLogs).","in":"path","name":"callLogId","required":true,"schema":{"type":"string","example":"a55d94f7-27ea-4dbb-ab25-028f2c8d55bd"}}],"responses":{"200":{"content":{"application/json":{"schema":{"properties":{"call_id":{"description":"Unique identifier of the phone call.","type":"string","example":"7018317023722949162"},"call_type":{"description":"The type of call:\n * `voip` (Voice over IP)\n* `pstn` (Public Switched Telephone Network)\n* `tollfree`\n* `international`\n* `contactCenter`","enum":["voip","pstn","tollfree","international","contactCenter"],"type":"string","example":"voip"},"callee_country_code":{"description":"Country calling code.","type":"string","example":"1"},"callee_country_iso_code":{"description":"ISO alpha2 country code.","type":"string","example":"US"},"callee_did_number":{"description":"Callee's DID (direct inward dial) number in e164 format.","type":"string","example":"+12055432724"},"callee_name":{"description":"Contact name of callee.","type":"string","example":"Callee name"},"callee_number":{"description":"Number of callee.","type":"string","example":"1018"},"callee_number_type":{"description":"The callee's number type:\n* `1` — Extension number.\n* `2` — Phone number.\n* `3` — Customized emergency number.","enum":[1,2,3],"type":"integer","example":1},"callee_number_source":{"description":"Indicates where the phone number comes from:\n* `internal` — ZP native.\n* `external` — BYOC or Provider Exchange.\n* `byop` — Premise peering.\nNot available when `callee_number_type = 1`.","enum":["internal","external","byop"],"type":"string","example":"internal"},"caller_country_code":{"description":"Country calling code.","type":"string","example":"1"},"caller_country_iso_code":{"description":"ISO alpha2 country code.","type":"string","example":"US"},"caller_did_number":{"description":"Caller's DID (direct inward dial) number in e164 format.","type":"string","example":"+12055432724"},"caller_name":{"description":"Contact name of caller.","type":"string","example":"Caller name"},"caller_number":{"description":"Number of caller.","type":"string","example":"+16622001852"},"caller_number_type":{"description":"The caller's number type: \n* `1` — Extension number. \n* `2` — Phone number.","enum":[1,2],"type":"integer","example":1},"caller_number_source":{"description":"Indicates where the phone number comes from:\n* `internal` — ZP native.\n* `external` — BYOC or Provider Exchange.\n* `byop` — Premise peering.\nNot available when `caller_number_type = 1`.","enum":["internal","external","byop"],"type":"string","example":"internal"},"caller_billing_reference_id":{"description":"Billing reference ID (for peering phone numbers).","type":"string","example":"ZoomTelecom123456"},"date_time":{"description":"Start time of the call.","type":"string","example":"2021-10-12T22:54:31Z"},"device_private_ip":{"description":"Display the device's private IP address if the account has the `show_device_ip_for_call_log` parameter set to `enabled`.","type":"string","example":"12"},"device_public_ip":{"description":"Display the device's public IP address if the account has the `show_device_ip_for_call_log` parameter set to `enabled`.","type":"string","example":"23"},"direction":{"description":"Direction of the call: `inbound` | `outbound`","enum":["inbound","outbound"],"type":"string","example":"inbound"},"duration":{"description":"Duration of the call in seconds.","type":"integer","example":20},"has_recording":{"description":"Whether the call has a recording. See [announcement](https://marketplace.zoom.us/docs/guides/stay-up-to-date/announcements#deprecation-of-the-has_voicemail-and-has_recording-responses-in-phone-api) from July, 2021.","type":"boolean","deprecated":true,"example":false},"has_voicemail":{"description":"Whether the call has a voicemail. See [announcement](https://marketplace.zoom.us/docs/guides/stay-up-to-date/announcements#deprecation-of-the-has_voicemail-and-has_recording-responses-in-phone-api) from July, 2021.","type":"boolean","deprecated":true,"example":false},"id":{"description":"The call log ID.","type":"string","example":"a55d94f7-27ea-4dbb-ab25-028f2c8d55bd"},"log_details":{"description":"The call segment details.","items":{"properties":{"date_time":{"description":"Start time of the call.","type":"string","example":"2021-10-12T22:54:31Z"},"hold_time":{"description":"Hold time during a call in seconds.","type":"integer","example":5},"device_private_ip":{"description":"Display the device's private IP address if the account has the `show_device_ip_for_call_log` parameter set to `enabled`.","type":"string","example":"12"},"device_public_ip":{"description":"Display the device's public IP address if the account has the `show_device_ip_for_call_log` parameter set to `enabled`.","type":"string","example":"23"},"duration":{"description":"Duration of the call in seconds.","type":"integer","example":20},"forward_to":{"description":"Information about the call's forwarding.","properties":{"extension_number":{"description":"The call forward's extension number.","type":"string","example":"1002"},"id":{"description":"The call forward's unique ID.","type":"string","example":"1234abcd"},"name":{"description":"The call forward's name.","type":"string","example":"name"},"type":{"description":"The call forwarding recipient type: \n* `user` \n* `callQueue` \n* `autoReceptionist` \n* `sharedLineGroup`","enum":["user","callQueue","autoReceptionist","sharedLineGroup"],"type":"string","example":"user"}},"type":"object"},"id":{"description":"Call log ID.","type":"string","example":"a55d94f7-27ea-4dbb-ab25-028f2c8d55bd"},"path":{"description":"Path of the call.","type":"string","example":"callQueue"},"result":{"description":"Result of the call: `Missed` | `Voicemail`| `Call connected`|`Rejected`| `Blocked`| `Busy`|`Wrong Number`| `No Answer`| `International Disabled`|`Internal Error`| `Call failed`| `Restricted Number`|`Call Cancel`| `Message`| `Answered by Other Member`|`Call Cancelled`| `Park`| `Parked`| `Blocked by non-GAL`| `Blocked by info-Barriers`|`Recording Failure`| `Recorded`| `Auto Recorded`.","type":"string","example":"Call connected"},"site":{"properties":{"id":{"description":"Target [site](https://support.zoom.us/hc/en-us/articles/360020809672-Managing-Multiple-Sites) where the phone number was assigned. Sites allow you to organize the phone users in your organization. For example, you can create sites based on different office locations.","type":"string","example":"8f71O6rWT8KFUGQmJIFAdQ"},"name":{"description":"Name of the site where the phone number is assigned.","type":"string","example":"Main Site"}},"type":"object"}},"type":"object"},"type":"array"},"path":{"description":"Path of the call.","type":"string","example":"callQueue"},"result":{"description":"Result of the call: `Missed` | `Voicemail` | `Call connected` | `Rejected` | `Blocked`| `Busy`| `Wrong Number`| `No Answer`| `International Disabled`| `Internal Error`| `Call failed` | `Restricted Number`| `Call Cancel` | `Message`| `Answered by Other Member` | `Call Cancelled` | `Park` | `Parked` | `Blocked by non-GAL` |  `Blocked by info-Barriers` | `Recording Failure`| `Recorded`| `Auto Recorded`.","type":"string","example":"Call connected"},"department":{"description":"Name of the user's department.","type":"string","example":"web-api1"},"cost_center":{"description":"The cost center name to which a user belongs.","type":"string","example":"cost-center1"}},"type":"object"}}},"description":"The details of the call log."}},"tags":["Call Logs"],"description":"Returns information about a [call log](https://support.zoom.us/hc/en-us/articles/360021114452-Viewing-and-identifying-logs).\n\n**Prerequisites:** \n* A Business or Enterprise account \n* A Zoom Phone license\n\n**Scopes:** `phone:read:admin`, `phone_call_log:read`, `phone_call_log:read:admin`\n\n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits/#zoom-phone-apis):** `Light`","operationId":"getCallLogDetails","summary":"Get call log details","x-private":false}},"/phone/call_logs/{callLogId}/client_code":{"put":{"parameters":[{"description":"Unique identifier of the call log.","in":"path","name":"callLogId","required":true,"schema":{"type":"string","example":"a55d94f7-27ea-4dbb-ab25-028f2c8d55bd"}}],"responses":{"204":{"content":{"application/json":{"schema":{}}},"description":"**HTTP Status Code:** `204` **No Content**\n\nSuccessfully added the client code to the call log."},"404":{"description":"**HTTP Status Code:** `404` **Not Found**\n\n\n**Error Code:** `404`\n\nValidation Failed."}},"tags":["Call Logs"],"description":"Adds a client code to a [call log](https://support.zoom.us/hc/en-us/articles/360040999352-Assigning-client-codes-to-phone-calls). You can track call logs with a client code. \n\n**Prerequisites:**\n* Business, or Education account\n* Zoom Phone license \n\n**Scopes:** `phone:write:admin`\n\n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits/#zoom-phone-apis):** `Light`","operationId":"addClientCodeToCallLog","requestBody":{"content":{"application/json":{"schema":{"properties":{"client_code":{"description":"The client code(3 to 16 digit number) to mark the call log.","type":"string","example":"123"}},"required":["client_code"],"type":"object"}}}},"summary":"Add a client code to a call log"}},"/phone/call_logs/{id}/recordings":{"get":{"parameters":[{"description":"The unique ID of the call log. You can use `callLogId` and `callId` as path parameters.\n\nYou can find the value for this field with the **[Get account's call logs](https://marketplace.zoom.us/docs/api-reference/phone/methods#operation/accountCallLogs)** API or the **[Get user's call logs](https://marketplace.zoom.us/docs/api-reference/phone/methods#operation/phoneUserCallLogs)** API.","in":"path","name":"id","required":true,"schema":{"type":"string","example":"7069775907364530379"}}],"responses":{"200":{"content":{"application/json":{"schema":{"description":"The information about the user's phone recording.","properties":{"call_id":{"description":"The phone call's unique ID.","type":"string","example":"7069775907364530379"},"call_log_id":{"description":"The phone call log's unique ID.","type":"string","example":"1dfe35c0-5f0f-4bf1-b2e4-a8869a731178"},"callee_name":{"description":"The callee's contact name.","type":"string","example":"User A"},"callee_number":{"description":"The callee's phone number.","type":"string","example":"1000001004"},"callee_number_type":{"description":"The callee's number type: \n* `1` — Internal number. \n* `2` — External number.\n* `3` — Customized emergency number.","enum":[1,2,3],"type":"integer","example":1},"caller_name":{"description":"The caller's contact name.","type":"string","example":"User B"},"caller_number":{"description":"The caller's phone number.","type":"string","example":"1000123476"},"caller_number_type":{"description":"The caller's number type: \n* `1` — Internal number. \n* `2` — External number.","enum":[1,2],"type":"integer","example":1},"outgoing_by":{"description":"The call-initiating user. The current recording must belong to the initiator and call queue for it to be available.","properties":{"name":{"description":"The user name.","type":"string","example":"User B"},"extension_number":{"description":"The user extension number.","type":"string","example":"123476"}},"type":"object"},"accepted_by":{"description":"The call-receiving user. The current recording must belong to the receiver and call queue for it to be available.","properties":{"name":{"description":"User name","type":"string","example":"User A"},"extension_number":{"description":"The user extension number.","type":"string","example":"132001"}},"type":"object"},"date_time":{"description":"The date and time at which the recording was received.","format":"date-time","type":"string","example":"2022-03-08T05:37:23Z"},"direction":{"description":"The call's direction:\n* `inbound`\n* `outbound`","type":"string","example":"inbound"},"download_url":{"description":"The URL from which to download the recording. For security purposes, you **must** provide an OAuth access token in the Authorizatoin header to download the recording file using this URL. For example:\n\n```curl --request GET \\\n  --url {download_url} \\\n  --header 'authorization: Bearer {access_token} \\\n  --header 'content-type: application/json'\n```","type":"string","example":"https://domain/recording/download/EvVNLihbQ1WpeG_ALwnNzg"},"duration":{"description":"The call recording's duration, in seconds.","type":"integer","example":115},"end_time":{"description":"The recording's end time.","format":"date-time","type":"string","example":"2022-03-08T05:39:19Z"},"id":{"description":"The recording's ID.","type":"string","example":"1dfe35c05f0f4bf1b2e4a8869a731178"},"owner":{"description":"The owner of the recording.","properties":{"extension_number":{"description":"The extension number associated with the call number.","type":"integer","format":"int64","example":1000123476},"id":{"description":"The owner's ID.","type":"string","example":"NL3cEpSdRc-c2t8aLoZqiw"},"name":{"description":"Name of the owner.","type":"string","example":"user@test.com"},"type":{"description":"The owner type: `user` or `call queue`.","enum":["user","call queue"],"type":"string","example":"user"},"extension_status":{"description":"The extension status.","enum":["inactive","deleted"],"type":"string","example":"inactive"}},"type":"object"}},"type":"object"}}},"description":"**HTTP Status Code:** `200`<br>\nOK."},"401":{"description":"**HTTP Status Code:** `401`<br>\n\n**Error Code:** `124`<br>\nAccount does not exist: \"{accountId}\"."},"404":{"description":"**HTTP Status Code:** `404` <br>\n**Error code:** `1001`<br>\nRecording does not exist: \"{callId or callLogId}\"."}},"security":[{"OAuth":[]}],"tags":["Recordings"],"description":"Gets an account's call recording(https://support.zoom.us/hc/en-us/articles/360038521091-Accessing-and-sharing-call-recordings) by the recording's `callId` or `callLogId` ID.\n\n**Prerequisites:** \n* A Pro or higher account with Zoom Phone license. \n* Account owner or admin privileges\n\n**Scopes:** `phone:read:admin`<br>\n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `Light`","operationId":"getPhoneRecordingsByCallIdOrCallLogId","summary":"Get recording by call ID"}},"/phone/call_queues":{"get":{"parameters":[{"description":"The next page token paginates through a large set of results. A next page token is returned whenever the set of available results exceeds the current page size. The expiration period for this token is 15 minutes.","in":"query","name":"next_page_token","schema":{"type":"string","example":"BJLYC6PABbAHdjwSkGVQe
[...]
